In [1]:
#Input Function
input()

 hello

'hello'

In [2]:
#prompt is the paramter in input function, it's default value is ' '!!
input(prompt="Type your name")

Type your name surjo

'surjo'

In [3]:
first_num=input("Type first number:")
second_num=input("Type second number:")

Type first number: 24
Type second number: 45

In [4]:
print(first_num)
print(second_num)

24
45

In [5]:
result=first_num+second_num
print(result)

2445

In [1]:
#We see string concatrnation here, means that 24 and 45 are just strings and joined together!!
#(*THIS HAPPENS BECAUSE input() gets string values in return even if that is a number, this was decided by python developers)
#(*AS STRING IS THE UNIVERSAL FORMAT)..so for checking the datatype of any variable or anything, we can use type() function!!

In [8]:
type(4)

int

In [9]:
type(3.6)

float

In [11]:
type("Hello Everyone")

str

In [12]:
type(True)

bool

In [13]:
type([1,2,3,4,5])

list

In [14]:
type({1,2,3,4,5})

set

In [15]:
type(first_num)

str

In [17]:
first_num #WE SEE IT  IS A STRING VALUE!!

'24'

In [19]:
#TYPE CONVERSION
#THERE ARE TWO WAYS OF TYPE CONVERSION IN PYTHON:
#(implicit and explicit)

In [21]:
#implicit(python does it itself)
5+ 6+4j

(11+4j)

In [22]:
4+4.5

8.5

In [23]:
4.839+23

27.839

In [2]:
#explicit(we have to tell)
first_num=input("Type first number:")
second_num=input("Type second number:")
result=int(first_num)+int(second_num) #do the type conversion earlier when taking input, this will then help you to not do the conversion everytime!!
print(result)

Type first number: 24
Type second number: 67

91

In [26]:
first_num=int(input("Type first number:"))
second_num=int(input("Type second number:"))
result=(first_num)+(second_num) 
print(result)

Type first number: 34
Type second number: 78

112

In [27]:
type(first_num)

int

In [29]:
#IMPORTANT THING: type conversion is a temporary thing which happens!! 
#IN OTHER LANGUAGES LIKE C, C++ the type casting which happens is a permanent thing!!
a=4.5
b=int(a)
print(a)
type(a)

4.5

float

In [30]:
print(b)
type(b)

4

int

In [31]:
#only b is int..the a variable doesn't change it's type!!

In [3]:
complex(4)

(4+0j)

In [4]:
int(4.5)

4

In [5]:
float(89)

89.0

In [6]:
list("Hello Surjo")

['H', 'e', 'l', 'l', 'o', ' ', 'S', 'u', 'r', 'j', 'o']