In [2]:
# for in other languages has a different syntax.. 
# for(int i = 0; i <= n; i++){
#    code;
#}  Here i++ is used which is not allowed in python, also curly braces not used here,
#   we also don't use semi-colons to close, and the way for(inside part) is written is not followed!!

In [3]:
range(1, 10) #range(start, stop, step)

range(1, 10)

In [10]:
range(5)

range(0, 5)

In [4]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list(range(5))

[0, 1, 2, 3, 4]

In [5]:
#In range the last value is excluded..!

In [6]:
#If i am saying a string..like "Kolkata"-> this is a sequence of characters!!
#It is just like range, a sequence of anything..so if want to loop something, 
#it basically needs to go in a sequence form!!

In [7]:
#["Kolkata", "Delhi", "Kashmir"] -> so this is a sequence of strings!!

In [9]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [12]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [23]:
for i in "Kolkata": #sequence of characters-> string
    print(i)

K
o
l
k
a
t
a

In [22]:
for i in ["Apple", "Banana", "Mango"]: #list of strings
    print("I like", i)

I like Apple
I like Banana
I like Mango

In [19]:
for i in [1, 2, 3, 4]: #list
    print(i)

1
2
3
4

In [20]:
for i in (1, 2, 3, 4): #tuple
    print(i)

1
2
3
4

In [21]:
for i in {1, 2, 3, 4}: #set
    print(i)

1
2
3
4