In [1]:
#STRINGS

In [3]:
#CREATING STRINGS
a = "Hello" #Double inverted commas
print(a)

b = 'Hello' #Single inverted commas
print(b)

c = '''Hello my name is Surjo
I am learning python!!''' #Triple inverted commas (USED FOR MULTI-LINE STRINGS!!)
print(c)

d = """Hello""" #Triple double-inverted commas
print(d)

e = str(23456)
print(e)

Hello
Hello
Hello my name is Surjo
I am learning python!!
Hello
23456

In [4]:
#INDEXING
a = "Hello"
print(a[0], a[1], a[2], a[4])

H e l o

In [5]:
#There are two types of indexing in python!
#POSITIVE INDEXING
b = "Surjo"
print(b[2], b[4])

r o

In [6]:
#NEGATIVE INDEXING
c = "Sekhar"
print(c[-1], c[-2], c[-3], c[-4])

r a h k

In [7]:
#BY USING NEGATIVE INDEXING WE CAN GET THE LAST CHARACTER OF ANY STRING EVEN IF
#WE DON'T KNOW THE FULL LENGTH OF THE STRING!!

In [9]:
#SLICING
a = "Hello World"
print(a[0:2]) #a[start:end], Here the end is excluded! So till (end-1)!!

He

In [25]:
print(a[-5:-1]) #Negative indexing also works, but end is excluded!

Worl

In [13]:
b = "Hello World"
print(b[2:7]) #Space is also a character!!

llo W

In [17]:
print(b[2:3]) #If we have been told to print the specific character only then we can do this!

l

In [19]:
c = "Surjo Sekhar Sen"
print(c[2:8:2]) #c[start:end:step] Here this step means the gaps to jump!!

roS

In [35]:
print(c[2:8:-1]) #This won't give anything, as we used positive indexing 
#if we go backwards from the start that is 2nd pos by -1 and keep going, we won't reach 8th!
#but if we use negative indexing and positive step then it will work!!

In [37]:
print(c[8:2:-1]) #We need to keep this in mind!! REVERSING WORKS ONLY WHEN WE CAN MOVE FROM
#RIGHT TO LEFT, SO MAKE SURE TO GIVE THE START AND END CAREFULLY!!

keS oj

In [23]:
print(c[--8:-1:2])

ka e

In [30]:
print(c[-1:-8:-2]) #If we want negative step then start with the end of the string
#as we want to go backwards!!

nSrh

In [26]:
d = "Hello Everyone"
print(d[2:]) #This means from 2 then till the end!
print(d[:6]) #This means from start till (6-1)!
print(d[:]) #This means from start to end, total!!

llo Everyone
Hello
Hello Everyone

In [31]:
#VERY IMPORTANT
#FOR REVERSING A STRING!!
e = "Surjo"
print(e[::-1])

ojruS

In [38]:
#EDITING STRINGS
a = "Surjo"
a[2] = 't'
print(a)

TypeError: 'str' object does not support item assignment

In [39]:
#This error comes because we cannot edit the values inside a string!!
#THIS IS BECAUSE STRINGS ARE IMMUTABLE(NOT CHANGABLE)!!
#ALSO WE CANNOT ADD CHARACTERS TO THE EXISTING STRING LIKE:
a[5] = 'Y'
print(a)

TypeError: 'str' object does not support item assignment

In [40]:
#BUT WE CAN REASSIGN THE WHOLE STRING VALUE!!
a = "Sekhar"
print(a)

Sekhar

In [42]:
#DELETION (Well this doesn't actually delete it!!) 
c = "Hello"
del c
print(c)

NameError: name 'c' is not defined

In [44]:
b = "World"
print(b)
del b[2] 
del b[:3:2]

World

TypeError: 'str' object doesn't support item deletion

In [47]:
#STRING OPERATIONS
#ARITHMETIC OPERATIONS
print("Hello" + "World") #STRING CONCATENATION
print("2" + "5")

HelloWorld
25

In [48]:
print("*"*20) #STRING MULTIPLICATION

********************

In [49]:
#STRING CONCATENATION AND MULTIPLICATION IS ALLOWED..BUT DIVISION SUBTRACTION DONT'T WORK!!

In [50]:
#RELATIONAL OPERATIONS
"Hello" != "World"

True

In [51]:
"Surjo" == "Surjo"

True

In [52]:
"Mumbai" > "Pune" #This comaprison works lexiographically!!
#IT DOESN'T WORK ON THE BASIS OF ASCII OR UNICODE OR WHICH HAS MORE LENGTH!!
#LEXIOGRAPHICALLY MEANS THE WORD WHICH COMES LATER IN DICTIONARY, THAT WORD WILL BE GREATER!

False

In [53]:
print("Goa" < "Kolkata")
print("GOA" < "kolkata")

True
True

In [54]:
#IMPORTANT
print("kolkata" < "Kolkata") # k small and K capital! CAPITAL LETTERS COMES FIRST 
# AND SMALL COMES AFTERWARDS AND THATSWHY kolkata is greater! So answer will be false!!

False

In [58]:
#LOGICAL OPERATIONS
#IN PYTHON EMPTY STRINGS "" ARE TREATED AS FALSE!
#WHEREAS NON-EMPTY STRINGS ARE TREATED AS TRUE!!
print("" or "surjo") # 0 or 1 -> 1 (surjo gets printed as it is 1)
print("" and "surjo") # 0 and 1 -> 0 (empty "" string)
print("sen" and "sekhar") # 1 and 1 -> 1(sekhar confirms the answer can be 1 
#so sekhar gets printed)
print("" and "") # 0 and 0 -> 0 (empty "" string)
print("sen" or "surjo") # 1 or 1 -> 1 (sen confirms that 1 is present, 
#so need to look for any other 1)

surjo

sekhar

sen

In [59]:
print(not "sen")
print(not "")

False
True

In [61]:
#LOOPS IN STRINGS
c = "Hello World"
for i in c:
    print(i, end = "")

Hello World

In [62]:
for i in c[2:9:2]:
    print(i, end = "")

loWr

In [63]:
for i in c[::-1]:
    print(i, end = "")

dlroW olleH

In [64]:
#MEMBERSHIP OPERATIONS
a = "Surjo"
print('u' in a)
print('l' in a)

True
False