In [10]:
#TUPLES
#CREATION
#Tuples are created in a similar way like lists!!
T = () #empty tuple
print(T)
print(type(T))

T = tuple()
print(T)
print(type(T))

()
<class 'tuple'>
()
<class 'tuple'>

In [5]:
T = (1, 2, 3, 4)
print(T)
T = (1, "Surjo", 2,45, 5 + 3j, True, None, 45) #tuples are also heterogenous!!
print(T)
T = (1, 2, 3, (4, 5)) #multi dimensional tuple
print(T)

(1, 2, 3, 4)
(1, 'Surjo', 2, 45, (5+3j), True, None, 45)
(1, 2, 3, (4, 5))

In [9]:
T = (1)
print(T)
print(type(T)) #this will give int as type because when we declare a single value in tuple it 
#basically gets treated as integer!!

T = ("Surjo")
print(T)
print(type(T)) #HERE TYPE WILL BE CLASS STRIMG!!

#TO AVOID THIS WE HAVE TO ADD AN EXTRA COMMA!!
T = (1,)
print(T)
print(type(T))

1
<class 'int'>
Surjo
<class 'str'>
(1,)
<class 'tuple'>

In [14]:
#DIFFERENCE BETWEEN NORMAL ASSIGNING AND FUNCTION ASSIGNING IN TUPLES!!
T = ("surjo")
print(T)
T = tuple("surjo")
print(T)

surjo
('s', 'u', 'r', 'j', 'o')

In [19]:
#WE CAN ALSO CREATE TUPLE FROM A LIST
T = ([1, 2, 3, 4, 5]) #THIS WILL BE TREATED AS A LIST!!
print(T)
print(type(T))

T = tuple([1, 2, 3, 4, 5]) #IF DONE EXPLICIT CONVERSION USING tuple() THEN IT WILL BE TUPLE
print(T)
print(type(T))

[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

In [25]:
#ACCESSING IN TUPLE
#THE ACCESSING WORKS SIMILAR LIKE LISTS!!
T= (1, 2, 3, 4, 5)
print(T[0], T[1:3]) #SLICING AND INDEXING WORKS TOO!!
print(T[-2], T[-3:-1])
print(T[-1:-3:-1])
print(T)

1 (2, 3)
4 (3, 4)
(5, 4)
(1, 2, 3, 4, 5)

In [28]:
T = (1, 2, ((3, 4), 5), ((22, 13),(77,54)), 10)
print(T[2][-1], T[3][1][::-1][0])

5 54

In [30]:
#EDITING, ADDING IN TUPLES
L = [1, 2, 3, 4, 5]
L[1] = 200
print(L) #lists are mutable!!
T = (1, 2, 3, 4, 5)
T[1] = 100
print(T) #tuples are immutable like strings!! sp this will throw error!!

[1, 200, 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [31]:
#So we also cannot add or edit any value in a tuple, though we can access them!!

In [34]:
#DELETING IN TUPLES
T = (1, 2, 3, 4, 5)
del T
print(T)

NameError: name 'T' is not defined

In [35]:
T = (1, 2, 3, 4, 5)
del T[2]

TypeError: 'tuple' object doesn't support item deletion

In [38]:
#OPERATIONS AND FUNCTIONS
#ARITHMETIC OPERATIONS
T1 = (1, 2, 3, 4) 
T2 = ("Hello", 2.345, True, 21, 5)
print(T1 + T2) #Tuple concatenation!!
print(T1 * 2) #tuple multiplication!!

(1, 2, 3, 4, 'Hello', 2.345, True, 21, 5)
(1, 2, 3, 4, 1, 2, 3, 4)

In [39]:
#MEMBERSHIP
T1 = (1, 2, 3, 4, (5, 6))
print(2 in T1)
print(5 in T1)

True
False

In [41]:
#ITERATION LOOPS 
T = (1, 2, 3, 4, 5, 6, "Surjo", None)
for i in T:
    print(i, end = " ")
print("")
for j in T[6:7]:
    print(j)

1 2 3 4 5 6 Surjo None
Surjo

In [44]:
T = (1, 2, 3, 4, 5, 6, (7, (8, 9)))
print(len(T))
print(min(T)) #this is showing erroe because it can't compare the tuple and int items!!
print(max(T))

7

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [47]:
T = (1, 2, 3, 4, 5)
print(sum(T))

15

In [53]:
T = (1, 3, 5, 7, 2, 6, 9, 4, 8)
print(sorted(T)) #THIS IS NOT A PERMANENT OPERATIOM!!
print(sorted(T, reverse = True)) #THIS ALWAYS GIVES LIST AS A VALUE!!
print(type(sorted(T)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
<class 'list'>