In [1]:
#DICTIONARY
#THIS IS MAINLY WRITTEN AS KEY-VALUE PAIRS!!
#RULES:-
#R1: DICTIONARY HAS NO INDEXING JUST LIKE SETS!!
#R2: DICTIONARY IS MUTABLE!
#R3: KEYS -> IMMUTABLE, VALUES -> MUTABLE!
#R4: KEYS MUST BE UNIQUE!

In [2]:
#MUTABLE DATA TYPES:- LISTS / SETS / DICTIONARY.. 
#THIS MEANS IF ANY CHANGE IS DONE THAT WILL BE EFFECTED IN THE SAME MEMORY ADDRESS!!

#IMMUTABLE DATA TYPES:- STRING / TUPLE / INT / FLOAT / BOOLEAN / COMPLEX..
#THIS MEANS THEY CANNOT BE CHANGED AND IF BY ANY MEANS YOU CHANGE THEM, THEY WILL POINTING
#TO A DIFFERENT MEMORY ADDRESS!!

In [3]:
#CREATING 
D = {} #EMPTY DICTIONARY
print(D)
print(type(D))
D = dict()
print(D)
print(type(D))

{}
<class 'dict'>
{}
<class 'dict'>

In [4]:
D = {"Name": "Surjo", "Age": 21, "Roll": 163}
print(D)

{'Name': 'Surjo', 'Age': 21, 'Roll': 163}

In [8]:
D = {"Name": "Surjo", "Age": 21} #This is allowed because here the KEY is String which is
#immutable
print(D)
D = {(1, 2, 3): 123} #This is allowed as KEY is tuple which is immutable!!
print(D)
D = {[1, 2, 3]: 123} #This is not allowed as KEY is list which is mutable!
print(D) #ERROR: UNHASHABLE TYPE WHICH MEANS IT IS IMMUTABLE!
#HASH CAN BE OF UNIQUE ELEMENTS!

{'Name': 'Surjo', 'Age': 21}
{(1, 2, 3): 123}

TypeError: unhashable type: 'list'

In [10]:
D = {"Name":"Surjo", "Name":"Sekhar"}
print(D) #Name has to store unique value so the most recent value which is Sekhar gets 
#printed

{'Name': 'Sekhar'}

In [13]:
D = {"Name":"Surjo", "Marks":{"Maths":57,"AI":68}}
print(D) #MULTI-DIMENSIONAL DICTIONARY / NESTED DICTIONARY
#BUT WHAT IF WE GIVE DICTIONARY AS IN THE KEY!
D = {"Name":"Surjo", {"Maths":57,"AI":68}:"Marks"}
print(D) #THIS WILL THROW ERROR AS DICTIONARY AS IN KEY IS MUTABLE AND THAT IS NOT 
#ALLOWED!!

{'Name': 'Surjo', 'Marks': {'Maths': 57, 'AI': 68}}

TypeError: unhashable type: 'dict'

In [20]:
#ACCESSING
D = {"Name": "Surjo","Age":21}
#WE CANNOT ACCESS ELEMENTS BY GIVING INDEX AS INDEXING IS NOT POSSIBLE IN DICTIONARY!
#SO FOR ACCESSING WE NEED TO GIVE KEY NAME!!
print(D["Name"], D["Age"])
print(D[0])

Surjo 21

KeyError: 0

In [24]:
#ACCESSING IN A DIFFERENT WAY!
D = {"Name": "Surjo","Age":21}
print(D.get("Name")) #This works too! BUT IT WON'T BE USEFUL WHEN ACCESSING 2D ELEMENTS!!

Surjo

In [19]:
D = {"Name":"Surjo", "Marks":{"Maths":57,"AI":68}}
print(D["Marks"])
print(D["Marks"]["AI"]) #ACCESSING NESTED DICTIONARY

{'Maths': 57, 'AI': 68}
68

In [26]:
#EDITING
D = {"Name":"Surjo", "Age":19, "Marks":{"Maths":57,"AI":68}}
D["Age"] = 21 #EDITING A 1D ELEMENT
print(D)
D["Marks"]["AI"] = 90 #EDITING A 2D ELEMENT!
print(D)

{'Name': 'Surjo', 'Age': 21, 'Marks': {'Maths': 57, 'AI': 68}}
{'Name': 'Surjo', 'Age': 21, 'Marks': {'Maths': 57, 'AI': 90}}

In [28]:
#ADDING
D = {"Name":"Surjo", "Age":21, "Marks":{"Maths":57,"AI":68}}
D["City"] = "Bengaluru"#ADDING IN 1D
print(D)
D["Marks"]["DSA"] = 86 #ADDING IN 2D 
print(D)

{'Name': 'Surjo', 'Age': 21, 'Marks': {'Maths': 57, 'AI': 68}, 'City': 'Bengaluru'}
{'Name': 'Surjo', 'Age': 21, 'Marks': {'Maths': 57, 'AI': 68, 'DSA': 86}, 'City': 'Bengaluru'}

In [31]:
#DELETING
D = {"Name":"Surjo", "Age":21}
del D #Whole dictionary is deleted!
print(D)

NameError: name 'D' is not defined

In [32]:
D = {"Name": "Surjo", "Age": 21}
del D["Age"] #Specific KEY-VALUE IS DELETED!
print(D)
D.clear() #CLEARS THE DICTIONARY..GIVES EMPTY DICTIONARY!!
print(D)

{'Name': 'Surjo'}
{}

In [33]:
D1 = {"Name":"Surjo"}
D2 = {"Age": 21}
print(D1 + D2) #DICTIONARY CONCATENATION DOESN'T WORK!
print(D1 * 2) #DICTIONARY MULTIPLICATION ALSO DOESN'T WORK!!

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [38]:
#ITERATION LOOPING IN DICTIONARY
D = {"Name":"Surjo", "Age":21, "Marks":{"Maths":57,"AI":68}}
for i in D:
    print(i, end = " ") #THIS WILL PRINT ONLY THE KEYS!!
print("")
for i in D:
    print(i, D[i], end = " ") #THIS WILL PRINT THE KEYS AND ITS CORRESPOMDING VALUES!
print("")
for i in D:
    print(i, ":", end = " ") #THIS WILL PRINT THE KEYS AND ITS CORRESPOMDING VALUES!
    print(D[i])

Name Age Marks
Name Surjo Age 21 Marks {'Maths': 57, 'AI': 68}
Name : Surjo
Age : 21
Marks : {'Maths': 57, 'AI': 68}

In [39]:
#MEMBERSHIP
D = {"Name": "Surjo", "Age": 21}
print("Surjo" in D) #This will return false as value isn't read!!
print("Name" in D) #This will return true as key is seen!

False
True

In [40]:
#FUNCTIONS 
D = {"Name": "Surjo", "Age": 21}
#THESE FUNCTIONS ONLY WORK AND SEES KEYS..THEY DON'T SEE VALUES!
print(len(D))
print(min(D)) #THIS WORKS LEXIOGRAPHICALLY!!
print(max(D))
print(sorted(D))
print(sorted(D, reverse = True))

print(D.keys())
print(D.values())

2
Age
Name
['Age', 'Name']
['Name', 'Age']
dict_keys(['Name', 'Age'])
dict_values(['Surjo', 21])