In [1]:
#SETS
#CREATION
S = {} #this is not treated as a set!! instead treated as dictionary!!
print(type(S))
#FOR CREATING AND EMPTY SET! WE NEED TO USE THE set() function!
S = set()
print(type(S))

<class 'dict'>
<class 'set'>

In [3]:
#IMPORTANT
#SETS ARE UNORDERED AND CANNOT CONTAIN DUPLICATE ITEMS!!
S = {1, 1, 2, 3, 4, 4}
print(S)
S = {1, 2, 3, 4, 5} #sets are unordered and thats why we can't access elements by indexing!
print(S[0])

{1, 2, 3, 4}

TypeError: 'set' object is not subscriptable

In [8]:
#SET IS A MUTABLE DATA TYPE ITSELF, BUT CANNOT BE EDITED..ONCE A VALUE IS PUT, IT CANNOT BE
#EDITED..WHICH MEANS IT'S ITEMS ARE IMMUTABLE!!
S = {(1, 2), "HELLO"}
print(S) #THIS IS ALLOWED AS TUPLES AND STRINGS ARE IMMUTABLE!!
S = {[1,2],1, 2} #IF YOU TRY TO STORE A MUTABLE VALUE LIKE LIST THEN IT WILL THROW ERROR!
print(S)

{'HELLO', (1, 2)}

TypeError: unhashable type: 'list'

In [11]:
S = {(1, 2), (22, 3), "Surjo", 1, 2, 3.56, None, True} 
print(S) # SETS ARE HETEROGENOUS! BUT ARE UNORDERED..
#THIS ORDER IS DECIDED ACCORDING TO HASHING!!..AND HASHING HAPPENS ONLY FOR IMMUTABLE THINGS

{None, 1, 2, (1, 2), 3.56, (22, 3), 'Surjo'}

In [21]:
#ADDING
#SETS ARE MUTABLE BUT NOT EDITABLE
S = {1, 2, 3, 4}
S.add(5) #adds a single value!
print(S)

S = {1, 2, 3, 4, 6}
S.update([11, 23, 41], "surjo") #add multiple values!
print(S)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 6, 11, 'o', 'u', 23, 41, 'j', 'r', 's'}

In [29]:
#WHAT IF I CHANGE THE SET INTO A LIST AND THEN EDIT VALUES FROM IT
#AND CHANGE IT BACK TO SET!!
S = {1, 2, 3, 4, 5}
print(id(S))

L = list(S)
L[0] = 100
print(L)
S = set(L)
print(S)
print(id(S))
#WELL THIS DOESN'T WORK AS THEY WILL NOT POINT TO THE SAME ADDRESS!! KIND OF RE-ASSIGNING!

1937112239904
[100, 2, 3, 4, 5]
{2, 3, 100, 5, 4}
1937112237888

In [16]:
#DELETING
#WE CAN DELETE WHOLE SET BY USING del 
S = {1, 2, 3, 4, 5}
del S
print(S)

NameError: name 'S' is not defined

In [41]:
#CLEAR
S = {1, 2, 3, 4}
S.clear() #Clears the set values and empties it!!
print(S)

set()

In [23]:
#REMOVE AND DISCARD
S = {1, 2, 3, 4}
S.remove(4) #throws error if can't find the item to delete!!
print(S)
S.discard(3) #doesn't throw if can't find the item!!
print(S)

{1, 2, 3}
{1, 2}

In [24]:
S = {1, 2, 3, 4}
S.discard(5)
print(S)
S.remove(6)
print(S)

{1, 2, 3, 4}

KeyError: 6

In [27]:
#POP
S = {1, 2, 3, 4}
S.pop() #pops the last item from the set!!BUT SET IS UNORDERED-> THE ITEM TO BE POPPED 
#IS DECIDED BY HASHING!!
print(S)
S.pop()
print(S)

S = {"hello", 2.34, None, True, 1, 21, "surjo"}
S.pop()
print(S)
S.pop()
print(S)

{2, 3, 4}
{3, 4}
{True, 2.34, 'surjo', 21, 'hello'}
{2.34, 'surjo', 21, 'hello'}

In [31]:
#SET OPERATIONS
S1 = {1, 2, 3, 4} #SET CONCATENATION DOESN'T WORK!
S2 = {"hello", 44, 56} #SET MULTIPLICATION ALSO DOESN'T WORK!!
print(S1 + S2)
print(S1 * 2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [33]:
#ITERATION LOOPING
S = {1, 2, 3, 4, "hello", (1, 2, 3)}
for i in S:
    print(i, end = " ")

1 2 3 4 hello (1, 2, 3)

In [34]:
#MEMBERSHIP
print(2 in S)
print(5 in S)
print("surjo" not in S)
print((1,2) not in S)

True
False
True
True

In [39]:
#FUNCTIONS ON SETS
S = {1, 2, 3, 4, 5}
T = {1, 3, 5, 31, 3.52, True}
print(len(S))
print(min(S))
print(max(S))
print(sum(S))
print(sorted(S))
print(sorted(S, reverse = True))
print(sorted(T))
print(sorted(T, reverse = True))

5
1
5
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 3.52, 5, 31]
[31, 5, 3.52, 3, 1]

In [40]:
#MATHEMATICAL OPERATIONS
S1 = {1, 2, 3}
S2 = {2, 3, 4, 5}
print(S1.union(S2))
print(S1.intersection(S2))
print(S1.difference(S2))
print(S1.symmetric_difference(S2))
print(S2.difference(S1))
print(S2.symmetric_difference(S1))

print(S1.isdisjoint(S2))
print(S1.issubset(S2))
print(S1.issuperset(S2))

{1, 2, 3, 4, 5}
{2, 3}
{1}
{1, 4, 5}
{4, 5}
{1, 4, 5}
False
False
False